<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyjy.mapper.CommentMapper">

    <select id="page" resultType="com.yyjy.domain.vo.response.CommentRes">
        with recursive t as (
            (select
                 id, article_id, content, nick_name, ip_address, reply_nick_name, parent_id, root_parent_id, create_time, is_author
             from comment where comment.article_id = #{req.articleId} and comment.root_parent_id IS NULL and comment.del_flag = 0 limit #{current}, #{size})
            union all
            select
                c.id, c.article_id, c.content, c.nick_name, c.ip_address, c.reply_nick_name, c.parent_id, c.root_parent_id, c.create_time, c.is_author
            from comment as c join t on t.id = c.root_parent_id where c.del_flag = 0
        )
        select id, article_id, content, nick_name, ip_address, reply_nick_name, parent_id, root_parent_id, UNIX_TIMESTAMP(create_time) as create_time, is_author from t;
    </select>
</mapper>
